/* scrollbar.css */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f7fafc; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #cbd5e0; /* Color of the scrollbar thumb */
  border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a0aec0;
  }


  